<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6RJ1XMJTKY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-6RJ1XMJTKY');
  </script>

  {{ partial "head.html" . }}
</head>

<body>

  <header class="site-header">
    <nav class="nav-container">
      <a class="logo" href="{{ "/" | relURL }}">
        {{ $.Site.Title }}
      </a>
    </nav>
  </header>

  <main class="content-area">
    {{ block "main" . }}{{ end }}
  </main>

  <footer class="site-footer">
    © {{ now.Format "2006" }} The Reckless Mind
  </footer>

</body>
</html>
